{% set unbound_config = salt['pillar.get']('node:unbound') %}
{% for domain, ip in unbound_config.get('domainoverrides', {}) %}
{%- do salt.log.error(domain) -%}
forward-zone:
        name: {{ domain }}
        forward-addr: {{ ip }}
{% endfor %}