# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'salt/defaults.yaml' as default_settings %}
# merge with node specific settings from pillar
{% set salt = salt['pillar.get']('node:salt', default=default_settings.salt, merge=True) %}
