{% set rclone = salt['grains.filter_by']({
	'Debian': {
		'pkg': 'https://downloads.rclone.org/v1.53.1/rclone-v1.53.1-linux-amd64.deb'
	},
	'RedHat': {
		'pkg': 'https://downloads.rclone.org/v1.53.1/rclone-v1.53.1-linux-amd64.rpm'
	}
}) %}
